/*-------------------------
   Typography
--------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e204d;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

p {
  line-height: 1.75;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.125rem;
}

.heading__subtitle {
  font-family: "Roboto", sans-serif;
  color: #435ba1;
  margin-bottom: 0.75rem;
}

.heading__title {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
  color: var(--color_principal);
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.heading__title .underlined-text {
  border-bottom: 0.25rem solid #21cdc0;
}

.heading__desc {
  margin-bottom: 0;
}

.text-block__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text__link {
  font-size: 0.875rem;
  font-weight: 700;
}
.text__link a:not(.btn) {
  padding-bottom: 2px;
  border-bottom: 2px solid #21cdc0;
}
.text__link a:not(.btn).color-secondary {
  border-bottom-color: var(--color_principal);
}
.text__link:hover a:not(.btn) {
  color: var(--color_principal);
  border-bottom-color: var(--color_principal);
}
.text__link:hover a:not(.btn).color-secondary {
  color: #21cdc0;
  border-bottom-color: #21cdc0;
}

@media (max-width: 992px) {
  .heading__title {
    font-size: 30px;
  }
}
/* Mobile Phones and tablets */
@media (min-width: 320px) and (max-width: 767px) {
  .heading__title {
    font-size: 21px;
    margin-bottom: 10px;
  }
  .heading__subtitle,
  .text__link {
    font-size: 13px;
  }
  .heading__desc {
    font-size: 13px;
  }
}
